.show-border {
	border: 1px;
	border-color: blue;
	border-style: solid;
}

.text-on-the-left {
	color: lightslategray;
	font-size: medium;
	text-align: left;
}

.text-in-the-center {
	color: orange;
	font-size: medium;
	text-align: left;
}

.text-on-the-right {
	color: blue;
	text-align: left;
}

.full-height {
	height: 100%;
	min-height: 100%;
}

html,
body {
	height: 100%;
	margin: 0;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 50%;
	min-height: max-content;
}

.center {
	position: relative; /* where the next element will be automatically positioned */
	display: inline-block; /* causes element width to shrink to fit content */
	left: 50%; /* moves left side of image/element to center of parent element */
	transform: translate(-50%); /* centers image/element on "left: 50%" position */
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 100%;
	max-width: 100%;
}

div.dave-image {
	background: url("/static/dave_character.png") left top;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	float: left;
}

div.hal-image {
	background: url("/static/hal_character.png") left top;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	float: left;
}

.chat-line {
	display: flex;
	border-color: grey;
	align-items: center;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	background-color: #101010;
}

.left-sidebar {
	position: fixed;
	float: left;
	width: 24.5%;
}

.content {
	float: left;
	width: 50%;
	margin-left: calc(24.5% + 2px);
	/* padding-bottom: 50px; */
	/* height: calc(100% - 150px); */
}

.right-sidebar {
	position: fixed;
	float: left;
	width: 24.5%;
	margin-left: calc(74.5% + 4px);
}

.chat-text-message {
	padding: 10px 10px 10px 10px;
	width: calc(100% - 48px);
}

