<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="/static/favicon.png" />
		<link rel="stylesheet" href="/static/app.css" />
		<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<title>Talk To Me Dave</title>
	</head>
	<body style="background-color: black; overflow-x: hidden; font-family: 'Aldrich'">
		<div class="full-height">
			<div class="left-sidebar show-border text-on-the-left">
				<div><strong>HAL Quotes</strong></div>
				<div id="HalRandomQuote"></div>
			</div>
			<div class="content show-border text-in-the-center">
				<div id="parent">
					<div>
						<div class="chat-line">
							<div>
								<img src="/static/hal_character.png" width="48px" />
							</div>
							<div style="padding: 10px 10px 10px 10px; width: calc(100% - 48px)">
								Talk to me Dave. Say few funny words, please.
							</div>
						</div>
					</div>
				</div>
				<div id="footer" class="footer show-border">
					<form id="interact">
						<div>
							<p style="float: left; position: relative; width: 80%;">
								<input style="position: relative; width: 100%;" type="text" id="userIn" placeholder="Type in a message" />
							</p>
							<p style="float: left; visibility: hidden; max-width: 0px;">
								<input type="submit" style="visibility: hidden; max-width: 0px;" />
							</p>
							<p style="float: right;">
								<button id="restart" type="reset" style="position: relative; width: 80px;">
									Restart
								</button>
							</p>
						</div>
					</form>
				</div>
			</div>
			<div class="right-sidebar show-border text-on-the-right">
				<br />
				<img src="/static/hal-9000.png" style="object-fit: scale-down;" />
			</div>
		</div>
	</body>
	<script src="/static/app.js"></script>
</html>
